@page "/createuser"
@rendermode InteractiveServer
@using Dormie.Models
@using Microsoft.AspNetCore.Components.Forms
@inject Dormie.Services.UserService UserService

<div class="container d-flex justify-content-center align-items-center min-vh-70">
    <EditForm FormName="CreateUserForm" Model="@user" OnValidSubmit="HandleSubmit"
              class="card p-4 shadow-sm" style="width: 80%;">
        <DataAnnotationsValidator />

        <div class="row">

            <div class="col-6">
                <label>First Name</label>
                <InputText class="form-control" @bind-Value="user.FirstName" />
                <ValidationMessage For="@(() => user.FirstName)" />
            </div>

            <div class="col-6">
                <label>Last Name</label>
                <InputText class="form-control" @bind-Value="user.LastName" />
                <ValidationMessage For="@(() => user.LastName)" />
            </div>

            <div class="col-6">
                <label>Contact No.</label>
                <InputText class="form-control" @bind-Value="user.ContactNumber" />
                <ValidationMessage For="@(() => user.ContactNumber)" />
            </div>

            <div class="col-6">
                <label>Email</label>
                <InputText class="form-control" type="email" @bind-Value="user.Email" />
                <ValidationMessage For="@(() => user.Email)" />
            </div>

            <div class="col-12 my-2">
                <label>User Type</label>
                <InputRadioGroup @bind-Value="user.UserType">
                    <InputRadio Value="@UserTypeEnum.Renter" /> Renter
                    <InputRadio Value="@UserTypeEnum.Owner" /> Owner
                </InputRadioGroup>
                <ValidationMessage For="@(() => user.UserType)" />
            </div>

            <div class="col-6">
                <label>Password</label>
                <InputText type="password" class="form-control"
                           @bind-Value="user.Password" />
                <ValidationMessage For="@(() => user.Password)" />
            </div>

            <div class="col-6">
                <label>Confirm Password</label>
                <InputText type="password" class="form-control"
                           @bind-Value="user.ConfirmPassword" />
                <ValidationMessage For="@(() => user.ConfirmPassword)" />
            </div>

            <div class="col-12 my-3">
                <InputCheckbox @bind-Value="user.AcceptedTerms" />
                <label> I agree to the Terms and Conditions</label>
                <ValidationMessage For="@(() => user.AcceptedTerms)" />
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary"
                        disabled="@isSubmitting">
                    @(isSubmitting ? "Creating..." : "Submit")
                </button>
            </div>

        </div>
    </EditForm>
</div>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-info mt-3">@message</div>
}

@code {
    private User user = new();
    private string message = "";
    private bool isSubmitting = false;

    private async Task HandleSubmit()
    {
        try
        {
            isSubmitting = true;

            await UserService.CreateUserAsync(user);

            message = "Account created successfully!";
            user = new();
        }
        catch (Exception ex)
        {
            message = ex.ToString();
        }
        finally
        {
            isSubmitting = false;
        }
    }
}
